<div>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="background-image: url('/assets/FOTO5.jpg')"
      ></div>
      <div
        class="carousel-item"
        style="background-image: url('/assets/FOTO6.jpg')"
      ></div>
      <div
        class="carousel-item"
        style="background-image: url('/assets/FOTO8.jpg')"
      ></div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
</div>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="fw-light">Sobre a DrogariaTech</h1>
    <p class="lead">
      A DrogariaTech tem o compromisso de buscar sempre oferecer produtos
      naturais da melhor qualidade como, chás, ervas, extratos, e muito mais.
      Tudo prezando contribuir para a sua saúde, aumentando gradativamente a sua
      qualidade de vida. Por isso a DrogariaTech apresenta um serviço
      especializado, feito com todo zelo e com o máximo de eficiência possível.
    </p>
  </div>
</section>
