<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <div class="container">
    <a
      class="navbar-brand"
      style="color: green"
      href="/src/app/components/home"
      routerLink=""
      >DrogariaTech</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="color: green"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a
            class="nav-link"
            style="color: green"
            href="/src/app/components/home"
            routerLink=""
            >Início</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="color: green"
            href="/src/app/components/produtos/produto-lista"
            routerLink="/produtos"
            >Produtos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="color: green"
            href="/src/app/components/lojas/loja-lista"
            routerLink="/lojas"
            >Lojas</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div></div>
